<%= turbo_frame_tag "uf", target: "_top" do %>
<%= form_with model: Userfile.new, url: userfiles_path, local: false do |form| %>
    <%= form.file_field :uf_file, direct_upload: true %>
    <br>
    <br>
    <%= form.submit 'Загрузить файл' %>
<% end %>
<% end %>
